
.vs/slnx.sqlite
.vs/CDDA-Kenan-Modpack/v16/Browse.VC.opendb
.vs/CDDA-Kenan-Modpack/v16/Browse.VC.db-wal
.vs/CDDA-Kenan-Modpack/v16/Browse.VC.db-shm
.vs/CDDA-Kenan-Modpack/v16/Browse.VC.db
.vs/ProjectSettings.json
